body {
	font-family: sans-serif;
}
#header {
	text-align: center;
	background: black;
	color: white;
	font-size: 5em;
	position: relative;
	top: -0.6em;
	z-index: 2;
}
main {
	margin: 0 auto;
}
#noscript {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:red;
	color:yellow;
	text-align:center;
	font-size: 10em;
	padding-top:200px;
	z-index:1000;
}
#ausgabe {
	display: grid;
	border: 0;
	width: 100vw;
	overflow-y: scroll;
	position: fixed;
	top: 6.1em;
	left: 0;
	right: 0;
	bottom: 248px;
	z-index: 1;
	font-size: 1.2em;
}
#info {
	font-weight: bold;
	color: blue;
	background: orange;
	z-index: 2;
	position: fixed;
	left: 0;
	bottom: 250px;
	width: 100%;
	text-align: center;
	font-size: 3em;
	animation: blink 0.5s alternate infinite;
}
#info.noblink {
	animation: none !important;
}
form {
	display: block;
	width: 100vw;
	position: fixed;
	height: 200px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 2em;
	text-align: center;
	border: 0;
	background: #FFEB3B;
	z-index: 2;
	overflow-y: scroll;
	border-top: 1em solid black;
}
form > *, button {
	font-size: 2em;
}
label {
	vertical-align: middle;
	display: inline;
}
input, button {
	font: medium sans-serif;
	width: 30vw;
	margin: .1em;
}
.eintrag {
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-all;
	font-size: 1.2em;
	font-family: sans-serif;
	padding: 0.2em 2em;
	background: lightyellow;
	text-align: right;
}
.eintrag:nth-child(odd) {
	background: gold;
}
.eintrag:nth-child(even) .files {
	border: 2px solid gold;
}
a {
	text-decoration: none;
}
.eintrag a {
	text-decoration: none;
	color: black;
	text-align: left;
	font-size: 1.3em;
	margin: 0;
	height: fit-content;
}
.eintrag p {
	margin: 0;
	border-top: 0.1em solid black;
}
.eintrag:last-of-type {
	margin-bottom: 2em;
}
@keyframes blink {
	from {opacity: 0 } to {opacity: 1 }
}
input, button {
	vertical-align: middle;
	font-size: 1em;
}
input[type='checkbox'] {
	-webkit-appearance: none;
	vertical-align: baseline;
	width: 3em;
	height: 3em;
	border-radius: 4em;
	background: black;
	border: 0.2em solid orange;
	margin-top: auto;
}
input[type='checkbox']:checked {
	background: lime;
	-webkit-appearance: checkbox;
}
#boxtext {
	margin-top: -1em;
}
.arrows, .arrows2 {
	font-size: 10em;
	float: left;
	position: relative;
}
.arrows2 {
	float: right;
}
.adown {
	bottom: 0.3em;
}
td, .filecnt, .filename {
	text-align: left;
}
table {
	float: left;
}
#chk {
	display: inline-flex;
}
h1 > img {
	height: 64px;
	filter: invert(100%);
	margin: 0 0.2em -4px 0;
}
.thumbnail, #overlay {
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.thumbnail img {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-size: cover;
	border: 2px solid white;
	box-shadow: 0 0 3px rgba(0,0,0,0.65);
}
.thumbnail embed {
	border: 1px solid black;
}
#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-color: rgba(0,0,0,0.65);
	z-index: 100;
}
.filediv {
	text-align: left;
	display: -webkit-box;
	border: 2px solid blue;
}
.files {
	display: inline-flex;
	border: 2px solid white;
	padding: 0px 2px;
}
.dlb {
	width: auto;
	height: auto;
	background-color: DodgerBlue;
	border: none;
	color: white;
	cursor: pointer;
}
.dlb:hover {
	background-color: RoyalBlue;
}
audio:not([controls]) {
    display: block;
}